body {
    background-color: rgb(14, 14, 14);
}

h1, h2, h3, p, li {
    color: rgb(240, 240, 240);
}

.bordered {
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(61, 61, 61);
}