body {
    background-color: rgb(14, 14, 14);
}

h1, h2, p {
    color: rgb(240, 240, 240);
}

.bordered {
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(61, 61, 61);
}

img {
    border: 3px solid black;
    margin-right: 10px;
    margin-left: 10px;
}