{% extends 'base.html' %}

{% block content %}
<div class="mx-auto text-center w-50 bordered">
    <h1>Alejandro Rodriguez</h1>
    <h2><a href="mailto: alexrodriguez2090@hotmail.com">alexrodriguez2090@hotmail.com</a></h2>
    <hr>
    <p>This is a WIP website created using Python-Django!</p>
    <p>Click on the navbar at the top to browse my site.</p>

    <p>Find the GitHub repo for this website <a href="https://github.com/Alexrodriguez2090/portfolio-website">here.</a></p>

</div>
{% endblock %}